// SECTION :: START

section#welcome.welcome

  .welcome__bg
    .c-grid
      img(src="img/img-welcome.jpg" srcset="img/img-welcome@2x.jpg 2x" alt="")

  .c-grid
    .welcome__wrapper

      div

        p.welcome__label.c-label Welcome to
        h2.welcome__title.c-title Our Boutique Surgical Practice

        .welcome__content
          div
            p.welcome__desc.c-desc We are a boutique surgical practice focusing on the most innovative techniques in restorative breast surgery. The diagnosis of breast cancer can be overwhelming and devastating. We understand that many women may feel anxious and uncertain about what their options are after mastectomy or lumpectomy.
          div
            p.welcome__desc.c-desc Our goal is to help you make intelligent, educated choices that will restore you to health. While we offer all types of options to restore your body to a natural and comfortable shape, we specialize in the most advanced procedures with an emphasis on perforator flap breast reconstruction, limited-scar breast reduction, and autologous lymph node transfer.

        a.welcome__link.c-link(href="#") + LEARN MORE

// SECTION :: END
