// SECTION :: START

section#address.address
  .c-grid
    .address__wrapper
      div

        .address__box(data-aos="fade-up")

          p.address__label.c-label(data-aos="fade-up") Our Location
          h2.address__title.c-title.c-title--small(data-aos="fade-up") Constance M. Chen, M.D., MPH

          ul.address__list
            li(data-aos="fade-up")
              p Office:
              span 875 Park Avenue
              span New York, NY  10075
            li(data-aos="fade-up")
              p!= "P: <span>212-792-6378</span>"
              p!= "F: <span>212-504-9511</span>"
            li(data-aos="fade-up")
              p Hours:
              span Mon – Fri: 9am – 5pm
              span Sat – Sun: Closed

          a.address__link.c-link(href="#" data-aos="fade-up") + GET DIRECTIONS

      div
        img.address__map(src="img/img-address-map.png" srcset="img/img-address-map@2x.png 2x" alt="" data-aos="fade-up")

// SECTION :: END
