// SECTION :: START

section#address.address
  .c-grid
    .address__wrapper
      div

        .address__box

          p.address__label.c-label Our Location
          h2.address__title.c-title.c-title--small Constance M. Chen, M.D., MPH

          ul.address__list
            li
              p Office:
              span 875 Park Avenue
              span New York, NY  10075
            li
              p!= "P: <span>212-792-6378</span>"
              p!= "F: <span>212-504-9511</span>"
            li
              p Hours:
              span Mon – Fri: 9am – 5pm
              span Sat – Sun: Closed

          a.address__link.c-link(href="#") + GET DIRECTIONS

      div
        img.address__map(src="img/img-address-map.png" srcset="img/img-address-map@2x.png 2x" alt="")

// SECTION :: END
