// SECTION :: START

section#contacts.contacts
  .c-grid

    p.contacts__label.c-label.c-label--center How can we help you?
    h2.contacts__title.c-title.c-title--center Send us a message
    p.contacts__desc.c-desc.c-desc--center Please reach out to us with any questions that you may have. If you would like more information or would like to make an appointment, we would be happy to speak with you. We look forward to helping you throughout your journey.

    .contacts__wrapper

      form.contacts__form(action='' method='' autocomplete='off')
        .contacts__form-group
          div
            .contacts__form-field
              label
                input(type='text' placeholder='Full Name*')
          div
            .contacts__form-field
              label
                input(type='tel' placeholder='Phone*')
        .contacts__form-group
          div
            .contacts__form-field
              label
                input(type='email' placeholder='Email Address*')
          div
            .contacts__form-field
              label
                select
                  option Procedure of Interest
                  option Procedure of Interest
        .contacts__form-group
          div
            .contacts__form-field
              label
                select
                  option How did you hear about us?
                  option How did you hear about us?
          div
            .contacts__form-field
              label
                select
                  option Best time to reach you
                  option Best time to reach you
        .contacts__form-field
          label
            textarea(placeholder='How can we help you?')
        .contacts__form-field.contact__form-field--btn
          .c-btn__wrapper.c-btn__wrapper--center
            button.c-btn(type='button')
              i
              span Send Message

// SECTION :: END
