// SECTION :: START

section#become.become
  .c-grid
    .become__wrapper
      div

        .become__box(data-aos="fade-up")
          h2.become__box-title.c-title(data-aos="fade-up") #BosomBuddies
          p.become__box-subtitle.c-subtitle(data-aos="fade-up") Do you want to team up with another breast cancer patient?
          p.become__box-desc.c-desc(data-aos="fade-up") The Bosom Buddies are a diverse group of women who may have gone through many feelings that you may be experiencing – fear, doubt, loneliness, and even bitterness about what is happening to you.
          a.become__box-link.c-link(href="#" data-aos="fade-up") + Become a Bosom Buddy!

      div
        img(src="img/img-become-1.png" srcset="img/img-become-1@2x.png 2x" alt="" data-aos="fade-up")
        img(src="img/img-become-2.png" srcset="img/img-become-2@2x.png 2x" alt="" data-aos="fade-up")

// SECTION :: END
