// SECTION :: START

section#library.library
  .c-grid

    p.library__label.c-label.c-label--center Patient Resources
    h2.library__title.c-title.c-title--center Library
    .library__desc
      div
        p.c-desc We believe that a woman’s body is her own, and she should be the only one to make decisions about her body. Since each individual is unique, there are no cookie-cutter solutions to an individual person’s problem. In order to make intelligent decisions, it is important for a woman to do her research and educate herself about all of the choices available to her.
        p.c-desc A library is a collection of information sources made accessible to a community for reference. It can include books, journals, manuscripts, videos, photos, and other documents to help individuals learn more about various subjects at hand. In our library, we have curated information in many different formats about our practice to help our
      div
        p.c-desc patients learn as much as possible about what we do so they can make smart, well-informed decisions about their health.
        p.c-desc The first section of our library is for new patients to help guide them with practical documents before they come to meet us. The second section is for patients who are undergoing treatment to help them prepare for surgery. The third section of our library provides information resources in a wide variety of electronic formats to give people a safe virtual space to read and learn. We hope our library will be helpful to you as you embark on your journey to educate yourself about all of your choices so that you can make the right decision for you.

    .library__wrapper

      .procedures__wrapper.procedures__wrapper-1
        div
          .procedures__block
            p.procedures__block-title.c-title.c-title--small New Patients
            p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        div
          ul.procedures__list
            li Getting Started
            li Insurance
            li Download Forms
            li Travel & Lodging

      .procedures__wrapper.procedures__wrapper-2
        div
          .procedures__block
            p.procedures__block-title.c-title.c-title--small Preparing for Surgery
            p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        div
          ul.procedures__list
            li Peri-operative Instructions
            li Patient Portal

      .procedures__wrapper.procedures__wrapper-3
        div
          .procedures__block
            p.procedures__block-title.c-title.c-title--small Resources
            p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        div
          ul.procedures__list
            li Perforator Flap FAQs
            li FAQ Videos
            li Useful Links

// SECTION :: END
