// SECTION :: START

.recovery {
  padding-top: 50px;
  padding-bottom: 50px;

  &__wrapper {
    &-1 {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 300px 1fr;
      gap: 16px;
      padding-bottom: 100px;
      @include adaptive(1023) {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      @include adaptive(1023) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__box {
    min-height: 100%;
    padding: 35px 40px;
    border-radius: 15px;
    background-color: #fdf5f0;
    background-image: url('../img/menu-pattern-bg.svg');
    background-position: -200px center;
    background-repeat: no-repeat;
    background-size: cover;
    @include adaptive(1365) {
      padding: 40px;
    }
    @include adaptive(767) {
      padding: 30px 20px;
    }
  }
}

// SECTION :: END
