// SECTION :: START

section#about.about
  .c-grid
    .about__wrapper
      div

        nav.about__nav
          a.is-active.c-title.c-title--small(href="#" data-id='1')
            span Background
            i.icon-font.icon-corner
          a.c-title.c-title--small(href="#" data-id='2')
            span Awards & Honors
            i.icon-font.icon-corner
          a.c-title.c-title--small(href="#" data-id='3')
            span Publications
            i.icon-font.icon-corner
          a.c-title.c-title--small(href="#" data-id='4')
            span Presentations
            i.icon-font.icon-corner

      div

        .about__block.is-open(data-block-id='1')
          div
            p.about__block-title.c-title.c-title--extrasmall Education
            ul.about__block-list
              li
                h5 08/97 – 06/01
                p Stanford University School of Medicine
                span Doctor of Medicine
              li
                h5 08/96 – 06/97
                p Tulane School of Public Health and Tropical Medicine
                span Masters of Public Health
              li
                h5 06/95 – 05/96
                p Radcliffe College
                span Radcliffe Publishing Course
              li
                h5 09/86 – 06/90
                p Harvard and Radcliffe Colleges
                span Bachelor of Arts, History (Honors)
            p.about__block-title.c-title.c-title--extrasmall Academic Appointments
            ul.about__block-list
              li
                h5 3/13 - Present
                p Weill Cornell Medical College
                span New York, NY Division of Plastic and Reconstructive Surgery Clinical Assistant Professor of Surgery
              li
                h5 12/09 - Present
                p Tulane University
                span New Orleans, LA Division of Plastic and Reconstructive Surgery, Clinical Assistant Professor
            p.about__block-title.c-title.c-title--extrasmall Committees & Boards
            ul.about__block-list
              li
                h5 10/16 - Present
                p Young Survivors Coalition
                span!= "Council of Advisors <a href='#'>Patient Education Committee</a>"
              li
                h5 09/15 - Present
                p Ellen Hermanson Foundation
                span!= "<a href='#'>Board of Directors</a>"
              li
                h5 10/11 - Present
                p National Lymphedema Network
                span!= "<a href='#'>Medical Advisory Committee</a>"
              li
                h5 09/09 - Present
                p Little Baby Face Foundation
                span!= "<a href='#'>Medical Advisory Board</a>"
          div
            p.about__block-title.c-title.c-title--extrasmall Training
            ul.about__block-list
              li
                h5 07/08 – 06/09
                p Memorial Sloan-Kettering Cancer Center
                span New York, NY Division of Plastic and Reconstructive Surgery Visiting Investigator
              li
                h5 07/08 – 06/09
                p New York University Medical Center
                span New York, NY Institute of Reconstructive Plastic Surgery Microsurgery Fellow
              li
                h5 07/07 – 06-08
                p New York-Presbyterian Hospital
                span New York, NY Division of Plastic and Reconstructive Surgery Administrative Chief Resident
              li
                h5 07/06 – 06/07
                p New York-Presbyterian Hospital
                span New York, NY Division of Plastic and Reconstructive Surgery Plastic Surgery Fellow
              li
                h5 07/05 – 06/06
                p Memorial Sloan-Kettering Cancer Center
                span New York, NY Division of Plastic and Reconstructive Surgery Clinical Research Fellow
              li
                h5 07/04 – 06/05
                p University of Washington
                span Seattle, WA Division of Plastic and Reconstructive Surgery Plastic Surgery Resident
              li
                h5 06/01 – 06/05
                p University of Washington
                span Seattle, WA Department of General Surgery General Surgery Resident

        .about__block(data-block-id='2')
          div
            p.about__block-title.c-title.c-title--extrasmall Education
            ul.about__block-list
              li
                h5 08/97 – 06/01
                p Stanford University School of Medicine
                span Doctor of Medicine
              li
                h5 08/96 – 06/97
                p Tulane School of Public Health and Tropical Medicine
                span Masters of Public Health
            p.about__block-title.c-title.c-title--extrasmall Academic Appointments
            ul.about__block-list
              li
                h5 3/13 - Present
                p Weill Cornell Medical College
                span New York, NY Division of Plastic and Reconstructive Surgery Clinical Assistant Professor of Surgery
              li
                h5 12/09 - Present
                p Tulane University
                span New Orleans, LA Division of Plastic and Reconstructive Surgery, Clinical Assistant Professor
          div
            p.about__block-title.c-title.c-title--extrasmall Training
            ul.about__block-list
              li
                h5 07/08 – 06/09
                p Memorial Sloan-Kettering Cancer Center
                span New York, NY Division of Plastic and Reconstructive Surgery Visiting Investigator
              li
                h5 07/08 – 06/09
                p New York University Medical Center
                span New York, NY Institute of Reconstructive Plastic Surgery Microsurgery Fellow
              li
                h5 07/07 – 06-08
                p New York-Presbyterian Hospital
                span New York, NY Division of Plastic and Reconstructive Surgery Administrative Chief Resident


        .about__block(data-block-id='3')
          div
            p.about__block-title.c-title.c-title--extrasmall Education
            ul.about__block-list
              li
                h5 08/97 – 06/01
                p Stanford University School of Medicine
                span Doctor of Medicine
            p.about__block-title.c-title.c-title--extrasmall Academic Appointments
            ul.about__block-list
              li
                h5 3/13 - Present
                p Weill Cornell Medical College
                span New York, NY Division of Plastic and Reconstructive Surgery Clinical Assistant Professor of Surgery
              li
                h5 12/09 - Present
                p Tulane University
                span New Orleans, LA Division of Plastic and Reconstructive Surgery, Clinical Assistant Professor
          div
            p.about__block-title.c-title.c-title--extrasmall Training
            ul.about__block-list
              li
                h5 07/08 – 06/09
                p Memorial Sloan-Kettering Cancer Center
                span New York, NY Division of Plastic and Reconstructive Surgery Visiting Investigator

        .about__block(data-block-id='4')
          div
            p.about__block-title.c-title.c-title--extrasmall Education
            ul.about__block-list
              li
                h5 08/97 – 06/01
                p Stanford University School of Medicine
                span Doctor of Medicine
              li
                h5 08/96 – 06/97
                p Tulane School of Public Health and Tropical Medicine
                span Masters of Public Health
          div
            p.about__block-title.c-title.c-title--extrasmall Training
            ul.about__block-list
              li
                h5 07/08 – 06/09
                p Memorial Sloan-Kettering Cancer Center
                span New York, NY Division of Plastic and Reconstructive Surgery Visiting Investigator

// SECTION :: END
