// SECTION :: START

section#biography.biography
  .c-grid
    .biography__wrapper
      div

        p.biography__label.c-label(data-aos="fade-up") Meet Dr. Chen
        h2.biography__title.c-title(data-aos="fade-up") Biography
        p.biography__desc.c-desc(data-aos="fade-up") Dr. Chen pioneered perforator flap breast reconstruction at Lenox Hill Hospital, and operates at the New York Eye & Ear Infirmary of Mount Sinai as part of the New York Center for the Advancement of Breast Reconstruction. She was previously principal investigator of a multi-institutional clinical trial investigating autologous lymph node transfer to treat breast cancer patients who have developed chronic upper extremity lymphedema after mastectomy.
        p.biography__desc.c-desc(data-aos="fade-up") Dr. Chen is frequently invited to lecture nationally and internationally on new advancements in breast reconstruction and the surgical treatment of lymphedema. She is the author of three books, five book chapters, and fifty journal articles. She has also won numerous awards for her work in plastic and reconstructive surgery at the local, regional, and national levels.
        p.biography__desc.c-desc(data-aos="fade-up") Dr. Chen has developed a reputation in the community for the personalized attention that she devotes to her patients. She is committed to aesthetic restoration of the breast and body, and enjoys helping her patients achieve overall well-being. At the end of the day, there is nothing more important to her than the joy she hopes to bring to her patients’ lives.

        .biography__box(data-aos="fade-up")
          img(src="img/img-meet-logo-1.png" srcset="img/img-meet-logo-1@2x.png 2x" alt="" data-aos="fade-up")
          img(src="img/img-meet-logo-2.png" srcset="img/img-meet-logo-2@2x.png 2x" alt="" data-aos="fade-up")
          img(src="img/img-meet-logo-3.png" srcset="img/img-meet-logo-3@2x.png 2x" alt="" data-aos="fade-up")

      div
        img.biography__visual(src="img/img-biography.jpg" srcset="img/img-biography@2x.jpg 2x" alt="" data-aos="fade-up")

// SECTION :: END
