// SECTION :: START

section#portfolio.portfolio
  .c-grid

    p.portfolio__label.c-label.c-label--center Real Results
    h2.portfolio__title.c-title.c-title--center Before & After
    p.portfolio__subtitle.c-subtitle.c-subtitle--center Sometimes seeing the results of real people is more reassuring than reading words. We are grateful to our patients who have allowed us to share their photos.

    .portfolio__wrapper

      .procedures__wrapper.procedures__wrapper-1
        div
          .procedures__block
            p.procedures__block-title.c-title.c-title--small Breast Reconstruction
            p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        div
          ul.procedures__list
            li DIEP/SIEA Flap
            li Breast Implants
            li PAP Flap
            li Combined Flap with Implant
            li TDAP Flap
            li Symmetry Procedures
            li Stacked/Extended Flap
            li Implant Problems
            li Lymph Node Transfer
            li Nipple Reconstruction
            li Fat Transfer
            li Oncoplastic Surgery

      .procedures__wrapper.procedures__wrapper-2
        div
          .procedures__block
            p.procedures__block-title.c-title.c-title--small Breast Rejuvenation
            p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        div
          ul.procedures__list
            li Breast Reduction
            li Breast Augmentation
            li Breast Lift (Mastopexy)
            li Implant Removal
            li Fat Grafting
            li Mommy Makeover

      .procedures__wrapper.procedures__wrapper-3
        div
          .procedures__block
            p.procedures__block-title.c-title.c-title--small Body Rejuvenation
            p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        div
          ul.procedures__list
            li Tummy Tuck (Abdominoplasty)
            li Liposuction
            li Arm Lift (Brachioplasty)
            li Body Contouring
            li Thigh Lift
            li Mommy Makeover

// SECTION :: END
