---
title: Dr.Chen | About

pageClassName: p-about
---
extends shared/_layout

block content
  main.main(class!= pageClassName)

    +mainSection('about', 'about', 'about', ['Home', '•', 'About Us'])

    include components/about/mission
    include components/about/meet
    include components/about/welcome

    include components/common/stories
    include components/common/info
