// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper
      .footer__wrapper-left

        .logo.logo--footer
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

      .footer__wrapper-middle

        nav.footer__social
          a(href="#")
            i.icon-font.icon-facebook
          a(href="#")
            i.icon-font.icon-twitter
          a(href="#")
            i.icon-font.icon-linkedin
          a(href="#")
            i.icon-font.icon-instagram

      .footer__wrapper-right

        nav.footer__nav
          a(href="#") Sitemap
          span •
          a(href="#") Privacy Policy
          span •
          a(href="#") HIPAA Privacy Policy
          span •
          a(href="#") Terms of Use

        p.footer__by!= "Design & SEO by <a href='#'>MRKTMADE</a>"

        .copyright Copyright © 2022 All Rights Reserved.

// FOOTER :: END
