// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        .logo
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

      .header__wrapper-middle

        nav.header__address
          p 875 Park Avenue, New York, NY
          span •
          p 212.792.6378

        nav.footer__social
          a(href="#")
            i.icon-font.icon-facebook
          a(href="#")
            i.icon-font.icon-twitter
          a(href="#")
            i.icon-font.icon-linkedin
          a(href="#")
            i.icon-font.icon-instagram

      .header__wrapper-right

        .header__hamburger
          +hamburger

// HEADER :: END
