// SECTION :: START

section#menu.menu(mobile-block-js)

  .menu__overlay
  .menu__container

    .menu__wrapper
      .menu__wrapper-top

        .logo.logo--menu
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

        a.menu__close(href="#")
          i.icon-font.icon-close

      .menu__wrapper-middle
        div

          nav.menu__btn-wrapper
            a.menu__btn(href="#" data-id='1')
              span About Us
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='2')
              span Procedures
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='3')
              span Patient Stories
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='4')
              span Gallery
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='5')
              span Patient Resources
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='6')
              span Contact Us
              i.icon-font.icon-corner

        div

          .menu__content-wrapper
            .menu__content(data-content-id='1')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='2')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='3')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='4')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='5')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='6')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='7')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='8')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

      .menu__wrapper-bottom
        div

          nav.header__address
            p 875 Park Avenue, New York, NY
            span •
            p 212.792.6378

        div

          .c-btn__wrapper
            a.c-btn(href="#")
              i
              span MY PATIENT NOW

            a.c-btn(href="#")
              i
              span VIRTUAL CONSULTATION

        div
          nav.footer__social
            a(href="#")
              i.icon-font.icon-facebook
            a(href="#")
              i.icon-font.icon-twitter
            a(href="#")
              i.icon-font.icon-linkedin
            a(href="#")
              i.icon-font.icon-instagram

// SECTION :: END
