// SECTION :: START

section#before-after.before-after
  .c-grid
    .before-after__wrapper
      div

        p.before-after__label.c-label Real Results
        h2.before-after__title.c-title Before & After
        p.before-after__subtitle.c-subtitle Sometimes seeing the results of real people is more reassuring than reading words. We are grateful to our patients who have allowed us to share their photos.
        p.before-after__desc.c-desc We understand that some of the fear and uncertainty that accompanies surgery can be helped by seeing photographs of other people who have already undertaken their journey. For this reason, some of our patients have kindly agreed to share their before-and-after photos so that other patients can see how Dr. Chen can help them using her experience and aesthetic approach. While each person’s outcomes may be different, photos can help patients understand what Dr. Chen has been able to do with her hands for different types of breast reconstruction, breast rejuvenation, or body rejuvenation. Click on each procedure for before and after photos. Clicking on each thumbnail will bring up a larger version with a caption with more details of the procedure.
        a.before-after__link.c-link(href="#") + VIEW OUR PHOTOS

      div
        img(src="img/img-before-after-1.jpg" srcset="img/img-before-after-1@2x.jpg 2x" alt="")
        img(src="img/img-before-after-2.jpg" srcset="img/img-before-after-2@2x.jpg 2x" alt="")

// SECTION :: END
