// SECTION :: START

section#info.info
  .c-grid
    .info__wrapper.info__wrapper-1
      .info__block.info__block-1
        .info__block-bg
        .info__block-content
          p.info__block-label.c-label Out-of-Town
          p.info__block-title.c-title Patients
          p.info__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          a.info__block-link(href="#") + LEARN MORE
      .info__block.info__block-2
        .info__block-bg
        .info__block-content.row
          div
            p.info__block-label.c-label Schedule a
            p.info__block-title.c-title Consultation
            p.info__block-desc.c-desc Please reach out to us with any questions that you may have. If you would like more information or would like to make an appointment, we would be happy to speak with you. We look forward to helping you throughout your journey.
            a.info__block-link(href="#") + REACH OUT TO US
          div
            .info__block-address
              div
                h3 Office:
                p 875 Park Avenue
                p New York, NY  10075
              div
                h3!= "P: <span>212-792 - 6378</span>"
                h3!= "F: <span>212-504 - 9511</span>"
    .info__wrapper.info__wrapper-2
      .info__block.info__block-3
        .info__block-bg
        .info__block-content
          p.info__block-label.c-label Patient
          p.info__block-title.c-title Library
          p.info__block-desc.c-desc In order to make intelligent decisions, it is important for a woman to do her research and educate herself about all of the choices available to her.  A library is a collection of information sources made accessible to a community for reference.
          ul.info__block-list
            li
              a.info__block-link(href="#") + NEW PATIENTS
            li
              a.info__block-link(href="#") + PREAPARING FOR SURGERY
            li
              a.info__block-link(href="#") + RESOURCES
      .info__block.info__block-4
        .info__block-bg
        .info__block-content
          p.info__block-label.c-label News &
          p.info__block-title.c-title Media
          p.info__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          a.info__block-link(href="#") + READ MORE

// SECTION :: END
