// SECTION :: START

section#info.info
  .c-grid
    .info__wrapper.info__wrapper-1
      .info__block.info__block-1(data-aos="fade-up")
        .info__block-bg
        .info__block-content
          p.info__block-label.c-label(data-aos="fade-up") Out-of-Town
          p.info__block-title.c-title(data-aos="fade-up") Patients
          p.info__block-desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          a.info__block-link.c-link(href="#" data-aos="fade-up") + LEARN MORE
      .info__block.info__block-2(data-aos="fade-up")
        .info__block-bg
        .info__block-content.row
          div
            p.info__block-label.c-label(data-aos="fade-up") Schedule a
            p.info__block-title.c-title(data-aos="fade-up") Consultation
            p.info__block-desc.c-desc(data-aos="fade-up") Please reach out to us with any questions that you may have. If you would like more information or would like to make an appointment, we would be happy to speak with you. We look forward to helping you throughout your journey.
            a.info__block-link.c-link(href="#" data-aos="fade-up") + REACH OUT TO US
          div
            .info__block-address
              div(data-aos="fade-up")
                h3 Office:
                p 875 Park Avenue
                p New York, NY  10075
              div(data-aos="fade-up")
                h3!= "P: <span>212-792 - 6378</span>"
                h3!= "F: <span>212-504 - 9511</span>"
    .info__wrapper.info__wrapper-2
      .info__block.info__block-3(data-aos="fade-up")
        .info__block-bg
        .info__block-content
          p.info__block-label.c-label(data-aos="fade-up") Patient
          p.info__block-title.c-title(data-aos="fade-up") Library
          p.info__block-desc.c-desc(data-aos="fade-up") In order to make intelligent decisions, it is important for a woman to do her research and educate herself about all of the choices available to her.  A library is a collection of information sources made accessible to a community for reference.
          ul.info__block-list
            li(data-aos="fade-up")
              a.info__block-link.c-link(href="#") + NEW PATIENTS
            li(data-aos="fade-up")
              a.info__block-link.c-link(href="#") + PREAPARING FOR SURGERY
            li(data-aos="fade-up")
              a.info__block-link.c-link(href="#") + RESOURCES
      .info__block.info__block-4(data-aos="fade-up")
        .info__block-bg
        .info__block-content
          p.info__block-label.c-label(data-aos="fade-up") News &
          p.info__block-title.c-title(data-aos="fade-up") Media
          p.info__block-desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          a.info__block-link.c-link(href="#" data-aos="fade-up") + READ MORE

// SECTION :: END
