// SECTION :: START

section#stories.stories

  .c-grid
    .stories__wrapper.stories__wrapper-1

      .stories__box.stories__box-1(data-aos="fade-up")
        .stories__box-bg
        .stories__box-content
          p.stories__box-label.c-label(data-aos="fade-up") Our Success Stories
          h2.stories__box-title.c-title(data-aos="fade-up") Real Patients. Real Stories.
          p.stories__box-desc.c-desc(data-aos="fade-up") Many of our patients have volunteered to speak with other women who may have questions about what it is like to go through restorative breast surgery. If you would like to speak with someone who has already gone through the process, please contact us and we will find a “buddy” for you.
          ul.stories__box-list
            li(data-aos="fade-up")
              a.stories__box-link.c-link(href="#") + READ PATIENT STORIES
            li(data-aos="fade-up")
              a.stories__box-link.c-link(href="#") + WATCH PATIENT STORY VIDEOS

  .stories__bg(data-aos="fade-up")
    .c-grid
      img(src="img/img-stories-bg.jpg" srcset="img/img-stories-bg@2x.jpg 2x" alt="")

  .c-grid
    .stories__wrapper.stories__wrapper-2(data-aos="fade-up")
      div

        .stories__video(data-aos="fade-up")
          img(src="img/img-stories-video-pattern.jpg" srcset="img/img-stories-video-pattern@2x.jpg 2x" alt="")
          a(href="#")
            i.icon-font.icon-play

      div

        .stories__box.stories__box-2(data-aos="fade-up")
          .stories__box-bg
          .stories__box-content
            h2.stories__box-title.c-title.c-title--small(data-aos="fade-up") #BosomBuddies
            p.stories__box-desc.c-desc(data-aos="fade-up") The Bosom Buddies are available for emotional support, practical tips, sharing stories, and other types of real life help that can help other women feel more comfortable and safe in their journey.
            ul.stories__box-list
              li(data-aos="fade-up")
                a.stories__box-link.c-link(href="#") + LEARN MORE

// SECTION :: END
