// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  border: 1px solid #62c6ca;
  box-shadow: none;
  background-color: #62c6ca;
  @extend %fontsIvymode;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  color: $c-black;

  &__wrapper {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }
}

// BUTTON :: END
