// DESC :: START

.c-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #363636;
  @include adaptive(767) {
    font-size: 14px;
    line-height: 33px;
  }

  &--center {
    text-align: center;
  }

}

// DESC :: END
