// LOGOTYPE :: START

.logo {
  display: flex;
  @include adaptive(1365) {
    max-width: 435px;
  }
  @include adaptive(767) {
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    display: flex;
    align-items: flex-start;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
