// SUBTITLE :: START

.c-subtitle {
  padding-bottom: 60px;
  @extend %fontsIvymode;
  font-weight: 300;
  font-style: italic;
  font-size: 30px;
  line-height: 55px;
  color: #5f7750;

  &--center {
    text-align: center;
  }
}

// SUBTITLE :: END
