// TITLE :: START

.c-title {
  padding-bottom: 30px;
  @extend %fontsIvymode;
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  color: #326b6e;

  &--small {
    font-size: 40px;
  }

  &--center {
    text-align: center;
  }
}

// TITLE :: END
