// TITLE :: START

.c-title {
  padding-bottom: 30px;
  @extend %fontsIvymode;
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  color: #326b6e;
  @include adaptive(1439) {
    font-size: 50px;
  }
  @include adaptive(1023) {
    font-size: 40px;
  }
  @include adaptive(767) {
    font-size: 30px;
  }

  &--extrasmall {
    font-size: 30px;
  }
  &--small {
    font-size: 40px;
    @include adaptive(1279) {
      font-size: 35px;
    }
    @include adaptive(767) {
      font-size: 30px;
    }
  }
  &--big {
    font-size: 70px;
    @include adaptive(1439) {
      font-size: 60px;
    }
    @include adaptive(1023) {
      font-size: 50px;
    }
    @include adaptive(767) {
      font-size: 40px;
    }
  }

  &--center {
    text-align: center;
  }
}

// TITLE :: END
