// FOOTER :: START

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive(1279) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 100%;
      max-width: 535px;
      @include adaptive(767) {
        max-width: 100%;
      }
    }

    &-right {
      @include adaptive(1279) {
        max-width: 100%;
        padding-top: 30px;
      }
    }

    &-middle {
      flex: 1;
      min-width: 1px;
      max-width: 100%;
      @include adaptive(767) {
        padding-top: 30px;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptive(1279) {
      justify-content: flex-end;
    }
    @include adaptive(767) {
      justify-content: center;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;

      .icon-font {
        color: $c-green;
        font-size: 20px;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include adaptive(1279) {
      justify-content: center;
    }
    @include adaptive(767) {
      flex-direction: column;
      padding-bottom: 30px;
    }

    a,
    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 36px;
      text-align: right;
      color: #363636;
      @include adaptive(767) {
        text-align: center;
        font-size: 14px;
      }
    }

    span {
      margin-left: 5px;
      margin-right: 5px;
      @include adaptive(767) {
        display: none;
      }
    }
  }

  &__by {
    font-size: 16px;
    line-height: 36px;
    text-align: right;
    color: #363636;
    @include adaptive(1279) {
      text-align: center;
    }
    @include adaptive(767) {
      font-size: 14px;
    }

    a {
      font-weight: bold;
      color: $c-green;
    }
  }
}

// FOOTER :: END
