// SECTION :: START

section#meet.meet
  .c-grid
    .meet__wrapper
      div
        img.meet__ava(src="img/img-meet--about.jpg" srcset="img/img-meet--about@2x.jpg 2x" alt="" data-aos="fade-up")
      div
        div(data-aos="fade-up")

          p.meet__label.c-label(data-aos="fade-up") Meet the Surgeon
          h2.meet__title.c-title(data-aos="fade-up") Constance M. Chen, M.D.
          p.meet__desc.c-desc(data-aos="fade-up") Dr. Constance M. Chen is a board-certified plastic surgeon with special expertise in the use of innovative natural techniques to optimize medical and cosmetic outcomes for women undergoing breast reconstruction. Dr. Chen received her BA from Harvard College, MD from Stanford University School of Medicine, and MPH from Tulane School of Public Health and Tropical Medicine. After surgical residencies at the University of Washington Medical Center and New York-Presbyterian Hospital Cornell-Columbia, she completed fellowships at Memorial Sloan-Kettering Cancer Center and New York University Langone Medical Center Institute of Reconstructive Plastic Surgery.
          a.meet__link.c-link(href="#" data-aos="fade-up") + LEARN MORE

        div(data-aos="fade-up")

          img(src="img/img-meet-logo-1.png" srcset="img/img-meet-logo-1@2x.png 2x" alt="" data-aos="fade-up")
          img(src="img/img-meet-logo-2.png" srcset="img/img-meet-logo-2@2x.png 2x" alt="" data-aos="fade-up")
          img(src="img/img-meet-logo-3.png" srcset="img/img-meet-logo-3@2x.png 2x" alt="" data-aos="fade-up")

// SECTION :: END
