// SECTION :: START

section#mission.mission
  .c-grid

    p.mission__label.c-label.c-label--center Mission Statement
    h2.mission__title.c-title.c-title--center Safety & Quality
    p.mission__subtitle.c-subtitle.c-subtitle--center We are committed to providing the highest level of individualized care for their patients.

    .mission__wrapper.mission__wrapper-1
      div
        div
          .mission__box.mission__box-1
            p.mission__box-label.c-label Our Commitment to
            h2.mission__box-title.c-title.c-title--small Safety
            p.mission__box-desc.c-desc We care about the safety and privacy of our patients.  Our on-site, office-based surgical facility is accredited by the American Association for Accreditation of Ambulatory Surgery Facilities (AAAASF), which is recognized as the “Gold Standard” in patient safety.  We are proud to offer our patients specialized care and attention in a safe, welcoming space.
        div
          .mission__box.mission__box-2
            p.mission__box-label.c-label Our Commitment to
            h2.mission__box-title.c-title.c-title--small Quality
            p.mission__box-desc.c-desc The team at Park Avenue Medical Suite is comprised of certified health care providers we know and trust. Our anesthesiologists are board-certified physicians and our registered nurses and certified surgical technologists are well-experienced in office-based and hospital-based operating facilities.  We require all of our team members to be ACLS (Advanced Cardiac Life Support) and BLS (Basic Life Support) certified and follow AAAASF staffing requirements for standardization.
      div
        img(src="img/mig-mission-1.jpg" srcset="img/mig-mission-1@2x.jpg 2x" alt="")
    .mission__wrapper.mission__wrapper-2
      div
        img(src="img/mig-mission-2.jpg" srcset="img/mig-mission-2@2x.jpg 2x" alt="")
      div
        .mission__box.mission__box-3
          p.mission__box-label.c-label Facilities
          h2.mission__box-title.c-title.c-title--small Our Hospitals
          p.mission__box-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          a.mission__box-link.c-link(href="#") + LEARN MORE

// SECTION :: END
