// SECTION :: START

section#welcome.welcome.welcome--about

  .welcome__bg
    .c-grid
      img(src="img/img-welcome--about.jpg" srcset="img/img-welcome--about@2x.jpg 2x" alt="")

  .c-grid
    .welcome__wrapper

      div

        p.welcome__label.c-label Meet Our
        h2.welcome__title.c-title Surgical Team
        p.welcome__desc.c-desc We believe it is very important to have a tight, cohesive team in the operating room that works together safely and efficiently. Not only does this help minimize anesthesia time, but it also helps ensure that you have the best possible surgical and aesthetic outcome.
        a.welcome__link.c-link(href="#") + LEARN MORE

// SECTION :: END
