// SECTION :: START

section#benefits.benefits
  .c-grid
    .benefits__wrapper
      div

        p.benefits__label.c-label(data-aos="fade-up") What are the Benefits of a
        h2.benefits__title.c-title(data-aos="fade-up") Breast Reduction?
        p.benefits__desc.c-desc(data-aos="fade-up") There can be many advantages to getting breast reduction surgery. Below, we’ve included some of the benefits we’ve seen firsthand from our breast reduction patients:

      div

        .benefits__box-wrapper
          .benefits__box.benefits__box-1(data-aos="fade-up")
            p.c-subtitle(data-aos="fade-up") The surgery can provide more self-confidence
          .benefits__box.benefits__box-2(data-aos="fade-up")
            p.c-subtitle(data-aos="fade-up") Patients feel that they fit better into the clothes they desire to wear
          .benefits__box.benefits__box-3(data-aos="fade-up")
            p.c-subtitle(data-aos="fade-up") Our patients typically have more comfort in their day-to-day life following surgery
          .benefits__box.benefits__box-4(data-aos="fade-up")
            p.c-subtitle(data-aos="fade-up") Breast reduction surgery can improve physical health and reduce back problems

// SECTION :: END
