// SECTION :: START

section#faq.faq
  .c-grid

    p.faq__label.c-label.c-label--center Breast Reduction
    h2.faq__title.c-title.c-title--center FAQs


    .faq__wrapper

      .faq__block-wrapper
        div
          .faq__block
            div
              p.c-title.c-title--extrasmall Is Breast Reduction Surgery Painful?
            div
              span
          .faq__block-content
            div
              p.c-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium aspernatur consequatur dignissimos dolorem dolores doloribus est excepturi expedita fugit hic inventore labore necessitatibus, nihil nobis officiis placeat porro quas, quibusdam quis quod reprehenderit sit velit veritatis vitae voluptatibus.
        div
          .faq__block
            div
              p.c-title.c-title--extrasmall Is Breast Reduction Surgery Permanent?
            div
              span
          .faq__block-content
            div
              p.c-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium aspernatur consequatur dignissimos dolorem dolores doloribus est excepturi expedita fugit hic inventore labore necessitatibus, nihil nobis officiis placeat porro quas, quibusdam quis quod reprehenderit sit velit veritatis vitae voluptatibus.
        div
          .faq__block
            div
              p.c-title.c-title--extrasmall What are the Risks Associated?
            div
              span
          .faq__block-content
            div
              p.c-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium aspernatur consequatur dignissimos dolorem dolores doloribus est excepturi expedita fugit hic inventore labore necessitatibus, nihil nobis officiis placeat porro quas, quibusdam quis quod reprehenderit sit velit veritatis vitae voluptatibus.
        div
          .faq__block
            div
              p.c-title.c-title--extrasmall What are some Related Procedures?
            div
              span
          .faq__block-content
            div
              p.c-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium aspernatur consequatur dignissimos dolorem dolores doloribus est excepturi expedita fugit hic inventore labore necessitatibus, nihil nobis officiis placeat porro quas, quibusdam quis quod reprehenderit sit velit veritatis vitae voluptatibus.

// SECTION :: END
