// SECTION :: START

section#introduction.introduction
  .c-grid

    p.introduction__label.c-label.c-label--center Introduction to
    h2.introduction__title.c-title.c-title--center Breast Reduction
    p.introduction__desc.c-desc.c-desc--center At our plastic surgery boutique on Park Avenue in NYC, breast reduction surgery is one of our most common aesthetic procedures. Some women feel that their breasts are too large and uncomfortable. Their large breasts, or “macromastia,” leads to lower and upper back pain, shoulder grooving from their bra straps, headaches, neck aches, arm pain, and even rashes under the breasts, or “intertrigo.” For women who want smaller breasts, the solution is a breast reduction, or “reduction mammoplasty.”

    .introduction__wrapper
      div

        .introduction__box
          p.introduction__box-label.c-label What is
          p.introduction__box-title.c-title Breast Reduction Surgery?
          p.introduction__box-desc.c-desc The technical name of the procedure is reduction mammaplasty, but it’s commonly referred to as breast reduction, as the surgery is performed to reduce the size of the breasts. According to the American Board of Plastic Surgery, there are nearly 90,000 breast reduction surgeries performed in the United States every year, so if you’re feeling overwhelmed or uncomfortable with your breasts, you’re not alone!
          p.introduction__box-desc.c-desc The good news is that we’re here to help!

        .introduction__box
          p.introduction__box-label.c-label Who are the Best Candidates for
          p.introduction__box-title.c-title Breast Reduction?
          p.introduction__box-desc.c-desc As one of the leading breast surgery practices in New York, we’ve had the benefit of treating thousands of patients with various breast surgeries. The best candidates for breast reduction typically include patients who are unhappy with the size of their breasts. Candidates should be in good overall physical health and not smoke cigarettes.
          p.introduction__box-desc.c-desc If you’re interested in lifting the breasts, but not reducing the size, please check out our page on Breast Lift.

      div

        .introduction__block
          img(src="img/img-intriduction.jpg" srcset="img/img-intriduction@2x.jpg 2x" alt="")

// SECTION :: END
