// SECTION :: START

section#introduction.introduction
  .c-grid

    p.introduction__label.c-label.c-label--center(data-aos="fade-up") Introduction to
    h2.introduction__title.c-title.c-title--center(data-aos="fade-up") Breast Reduction
    p.introduction__desc.c-desc.c-desc--center(data-aos="fade-up") At our plastic surgery boutique on Park Avenue in NYC, breast reduction surgery is one of our most common aesthetic procedures. Some women feel that their breasts are too large and uncomfortable. Their large breasts, or “macromastia,” leads to lower and upper back pain, shoulder grooving from their bra straps, headaches, neck aches, arm pain, and even rashes under the breasts, or “intertrigo.” For women who want smaller breasts, the solution is a breast reduction, or “reduction mammoplasty.”

    .introduction__wrapper
      div

        .introduction__box(data-aos="fade-up")
          p.introduction__box-label.c-label(data-aos="fade-up") What is
          p.introduction__box-title.c-title(data-aos="fade-up") Breast Reduction Surgery?
          p.introduction__box-desc.c-desc(data-aos="fade-up") The technical name of the procedure is reduction mammaplasty, but it’s commonly referred to as breast reduction, as the surgery is performed to reduce the size of the breasts. According to the American Board of Plastic Surgery, there are nearly 90,000 breast reduction surgeries performed in the United States every year, so if you’re feeling overwhelmed or uncomfortable with your breasts, you’re not alone!
          p.introduction__box-desc.c-desc(data-aos="fade-up") The good news is that we’re here to help!

        .introduction__box(data-aos="fade-up")
          p.introduction__box-label.c-label(data-aos="fade-up") Who are the Best Candidates for
          p.introduction__box-title.c-title(data-aos="fade-up") Breast Reduction?
          p.introduction__box-desc.c-desc(data-aos="fade-up") As one of the leading breast surgery practices in New York, we’ve had the benefit of treating thousands of patients with various breast surgeries. The best candidates for breast reduction typically include patients who are unhappy with the size of their breasts. Candidates should be in good overall physical health and not smoke cigarettes.
          p.introduction__box-desc.c-desc(data-aos="fade-up") If you’re interested in lifting the breasts, but not reducing the size, please check out our page on Breast Lift.

      div

        .introduction__block(data-aos="fade-up")
          img(src="img/img-intriduction.jpg" srcset="img/img-intriduction@2x.jpg 2x" alt="")

// SECTION :: END
