// SECTION :: START

section#recovery.recovery
  .c-grid
    .recovery__wrapper.recovery__wrapper-1
      div

        p.recovery__label.c-label(data-aos="fade-up") What to Expect on the Day of
        h2.recovery__title.c-title(data-aos="fade-up") Breast Reduction?
        p.recovery__desc.c-desc(data-aos="fade-up") A breast reduction involves removing excess breast tissue and skin and repositioning the breast tissue and nipple-areola complex higher on the chest wall. The patient will have a lollipop scar that consists of a scar around the areola and a vertical scar from the areola to the inframammary fold. Often, a breast reduction will make a woman look like she has lost weight, even if only a small amount of breast tissue has been resected. It will also make her breasts look younger and perkier.

      div

        img(src="img/logo-icon.svg" alt="" data-aos="fade-up")

      div

        p.recovery__label.c-label(data-aos="fade-up") Breast Reduction
        h2.recovery__title.c-title(data-aos="fade-up") Recovery
        p.recovery__desc.c-desc(data-aos="fade-up") After a breast reduction, drains are sometimes needed if a large amount of tissue has been moved around. There are dressings on the incisions, which remain in place for at least 48-72 hours. After the dressings are removed, the patient can shower. Many patients can return to work in 1-2 weeks. Patients should avoid heavy lifting for 6-8 weeks. The breasts will be swollen initially, but the swelling subsides and the breasts settle over several months.

    .recovery__wrapper.recovery__wrapper-2
      div

        .recovery__box(data-aos="fade-up")
          p.recovery__box-label.c-label(data-aos="fade-up") Why Choose Dr. Chen for your
          p.recovery__box-title.c-title.c-title--small(data-aos="fade-up") Breast Reduction
          p.recovery__desc.c-desc(data-aos="fade-up") Dr. Constance Chen has dedicated her life to helping women find restoration in their breasts and bodies. Dr. Chen uses innovative techniques and individualizes each breast reduction surgery. As a proud member of the American Society of Plastic Surgeons, Dr. Chen stays on the cutting edge of breast surgery.

      div

        .recovery__box(data-aos="fade-up")
          p.recovery__box-label.c-label(data-aos="fade-up") How Much Does a Breast Reduction
          p.recovery__box-title.c-title.c-title--small(data-aos="fade-up") Cost in NYC?
          p.recovery__desc.c-desc(data-aos="fade-up") The cost of breast reduction surgery in New York City will vary on a number of factors. The best way to get the most accurate cost will be to schedule a consultation. Dr. Chen will be able to provide you with a full breakdown of all associated costs.

      div

        .recovery__box(data-aos="fade-up")
          p.recovery__box-label.c-label(data-aos="fade-up") Schedule Your
          p.recovery__box-title.c-title.c-title--small(data-aos="fade-up") Consultation
          p.recovery__desc.c-desc(data-aos="fade-up") If you’d like to schedule a consultation for breast reduction surgery in NYC with Dr. Constance Chen, please contact us today. We look forward to meeting with you in our Manhattan office, answering your questions, and helping you find comfort in not only our physical aesthetics but in life.

// SECTION :: END
