// SECTION :: START

section#welcome.welcome.welcome--reduction

  .welcome__bg
    .c-grid
      img(src="img/img-welcome-2.jpg" srcset="img/img-welcome-2@2x.jpg 2x" alt="")

  .c-grid
    .welcome__wrapper

      div

        p.welcome__label.c-label What’s the
        h2.welcome__title.c-title First Step?

        p.welcome__desc.c-desc The first step to getting breast reduction surgery in NYC with Dr. Chen is to book a consultation. During your appointment, you’ll meet one-on-one with Dr. Chen, explain your concerns and ask questions. During this consultation, you’ll get to know our practice, Dr. Chen, and our friendly team.
        p.welcome__desc.c-desc After hearing about your aesthetic desires and concerns, Dr. Chen will provide her expert recommendations. If you and Dr. Chen both feel that this is the best procedure for you, surgery will be booked and we’ll provide you with pre and postoperative instructions for your upcoming breast reduction.

// SECTION :: END
