-
  const project = 'Chen, Constance';
  const pages = [{
      name: 'Home',
      href: 'index.html',
      progress: '90'
    }, {
      name: 'About',
      href: 'about.html',
      progress: '90'
    }, {
      name: 'Meet',
      href: 'meet.html',
      progress: '90'
    }, {
      name: 'Procedures',
      href: 'procedures.html',
      progress: '90'
    }, {
      name: 'Gallery',
      href: 'gallery.html',
      progress: '90'
    }, {
      name: 'Stories',
      href: 'stories.html',
      progress: '90'
    }, {
      name: 'Resources',
      href: 'resources.html',
      progress: '55'
    }, {
      name: 'Contacts',
      href: 'contacts.html',
      progress: '55'
    }, {
      name: 'Reduction',
      href: 'reduction.html',
      progress: '55'
    }
  ];
