// SECTION :: START

section#procedures.procedures
  .c-grid

    h1.procedures__title.c-title.c-title--center What We Do
    p.procedures__desc.c-desc.c-desc--center A specialist in microsurgical breast reconstruction, Dr. Chen has pioneered natural and less invasive surgical techniques to maximize long-term cosmetic outcome.

    .procedures__wrapper.procedures__wrapper-1
      div
        .procedures__block
          p.procedures__block-title.c-title.c-title--small Breast Reconstruction
          p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      div
        ul.procedures__list
          li procedures
          li Breast Implants
          li DIEP/SIEA Flap
          li Saline Implants
          li PAP Flap
          li Silicone Implants
          li TDAP Flap
          li Cohesive Gel Implants
          li Stacked/Extended Flap
          li Under-the-Muscle Implants
          li Lymph Node Transfer
          li Above-the-Muscle Implants
          li Restoring Sensation
          li Combined Flap with Implant
          li Fat Transfer
          li Symmetry Procedures
          li Nipple Reconstruction
          li Implant Problems

    .procedures__wrapper.procedures__wrapper-2
      div
        .procedures__block
          p.procedures__block-title.c-title.c-title--small Breast Rejuvenation
          p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      div
        ul.procedures__list
          li Breast Reduction
          li Breast Augmentation
          li Breast Lift (Mastopexy)
          li Implant Removal
          li Fat Grafting
          li Mommy Makeover

    .procedures__wrapper.procedures__wrapper-3
      div
        .procedures__block
          p.procedures__block-title.c-title.c-title--small Body Rejuvenation
          p.procedures__block-desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      div
        ul.procedures__list
          li Tummy Tuck (Abdominoplasty)
          li Liposuction
          li Arm Lift (Brachioplasty)
          li Body Contouring
          li Thigh Lift
          li Mommy Makeover

// SECTION :: END
