// SECTION :: START

section#procedures.procedures
  .c-grid

    h1.procedures__title.c-title.c-title--center(data-aos="fade-up") What We Do
    p.procedures__desc.c-desc.c-desc--center(data-aos="fade-up") A specialist in microsurgical breast reconstruction, Dr. Chen has pioneered natural and less invasive surgical techniques to maximize long-term cosmetic outcome.

    .procedures__wrapper.procedures__wrapper-1
      div
        .procedures__block(data-aos="fade-up")
          p.procedures__block-title.c-title.c-title--small(data-aos="fade-up") Breast Reconstruction
          p.procedures__block-desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      div
        ul.procedures__list
          li(data-aos="fade-up") procedures
          li(data-aos="fade-up") Breast Implants
          li(data-aos="fade-up") DIEP/SIEA Flap
          li(data-aos="fade-up") Saline Implants
          li(data-aos="fade-up") PAP Flap
          li(data-aos="fade-up") Silicone Implants
          li(data-aos="fade-up") TDAP Flap
          li(data-aos="fade-up") Cohesive Gel Implants
          li(data-aos="fade-up") Stacked/Extended Flap
          li(data-aos="fade-up") Under-the-Muscle Implants
          li(data-aos="fade-up") Lymph Node Transfer
          li(data-aos="fade-up") Above-the-Muscle Implants
          li(data-aos="fade-up") Restoring Sensation
          li(data-aos="fade-up") Combined Flap with Implant
          li(data-aos="fade-up") Fat Transfer
          li(data-aos="fade-up") Symmetry Procedures
          li(data-aos="fade-up") Nipple Reconstruction
          li(data-aos="fade-up") Implant Problems

    .procedures__wrapper.procedures__wrapper-2
      div
        .procedures__block(data-aos="fade-up")
          p.procedures__block-title.c-title.c-title--small(data-aos="fade-up") Breast Rejuvenation
          p.procedures__block-desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      div
        ul.procedures__list
          li(data-aos="fade-up") Breast Reduction
          li(data-aos="fade-up") Breast Augmentation
          li(data-aos="fade-up") Breast Lift (Mastopexy)
          li(data-aos="fade-up") Implant Removal
          li(data-aos="fade-up") Fat Grafting
          li(data-aos="fade-up") Mommy Makeover

    .procedures__wrapper.procedures__wrapper-3
      div
        .procedures__block(data-aos="fade-up")
          p.procedures__block-title.c-title.c-title--small(data-aos="fade-up") Body Rejuvenation
          p.procedures__block-desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      div
        ul.procedures__list
          li(data-aos="fade-up") Tummy Tuck (Abdominoplasty)
          li(data-aos="fade-up") Liposuction
          li(data-aos="fade-up") Arm Lift (Brachioplasty)
          li(data-aos="fade-up") Body Contouring
          li(data-aos="fade-up") Thigh Lift
          li(data-aos="fade-up") Mommy Makeover

// SECTION :: END
